*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    height:100%;
    width: 100%;
    background-image:url(back8.jpeg) ;
    background-position: center;
    background-size:cover;
    position:absolute;
}

.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: rgb(245, 241, 241);
    padding: 5px;
    overflow:hidden;
}

.bottom-box{
    width: 200px;
    height: 15 px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #4b5e9a1f;
    border-radius: 30 px;
}

.toggle-btn{
    padding: 20px 60px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn{
top: 0;
left: 0;
position:absolute;
width: 120px;
height: 10%;
background: linear-gradient(to right, #958bdf, #bab7d0);
border-radius: 30px;
transition: 0.5s;
}

.social-icons{
    margin: 40px auto;
    text-align:center;
}

.social-icons img{
    width:80px;
    margin:0 12px;
    cursor: pointer ;
    border-radius:80%;
}

.input-group{
    top:180px;
    position: absolute;
    width: 210px;
    transition: .5s;
}

.input-field{
    width: 150px;
    padding: 10px 0;
    margin: 0px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(153, 153, 153);
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 85%;
    padding: 10px 40px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #9e85c3, #c2c1d4);
    border: 0;
    outline: none;
    border-radius: 70px;

}

.submit-box{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #8010ff, #4806ff);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.check-box{
    margin: 10px 50px 50px 250; 
}

span{
    color:#777;
    font-size: 12px;
    bottom:85px;
    position: absolute;

}

#login{
    left:80px;
}

#register{
    left:720px;
}