
/* ---------------right-sidebar------------- */

.right-sidebar h3{
  margin-top: 10px;
}

.button {
  border:2px solid #000;
  margin-top: 5px;
  margin-left: 20px;
  background-color:#eee;
  padding: 12px 20px;
  font-size: 15px;
  cursor: pointer;
  display: inline-block;
}
.button:hover {background: #ddd9f7;}