* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

body {
    background: #efefef;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #958bdf, #bab7d0);
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    width: 75px;
    margin-right: 25px;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
}

.nav-left ul li {
    list-style: none;
    display: inline-block;
}

.nav-left ul li img {
    width: 20px;
    margin: 0 10px;
    height: 20px;
}

.nav-user-icon img {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.search-box {
    background: #efefef;
    width: 350px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin-right: 30px;
}

.search-box img {
    width: 18px;
}

.search-box input {
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}

.settings-menu {
    position: absolute;
    width: 90%;
    max-width: 300px;
    height: 300px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    top: 108%;
    right: 5%;
    max-height: 0;
    transition: max-height 0.3s;
}

.settings-menu-height {
    max-height: 300px;
}

.settings-menu-inner {
    padding: 20px;
}

.settings-menu hr {
    border: 0;
    height: 1px;
    background: #9a9a9a;
    margin: 15px 0;
}

.settings-links {
    display: flex;
    align-items: center;
    margin: 15px 10;
}

.logout-icon {
    width: 38px;
    margin-right: 15px;
}

.settings-links a {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #626262;
}


/*--my-account-page--*/

.profile-container {
    padding: 20px 10%;
    color: #626262;
}

.cover-img {
    width: 100%;
    height: 200px;
    border-radius: 6px;
    margin-bottom: 14px;
}

.profile-details {
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.pd-row {
    display: flex;
    align-items: stretch;
    align-content: flex-start;
}

.pd-right {
    display: flex;
    align-items: flex-end;
}

.pd-img {
    width: 100px;
    margin-right: 20px;
    border-radius: 6px;
}

.pd-row div h3 {
    margin-top: 10px;
    font-size: 25px;
    font-weight: 600;
}

.pd-row div p {
    font-size: 13px;
    margin-top: 10px;
}

.post-input-container {
    padding-left: 55px;
    padding-top: 20px;
}

.post-input-container {
    padding-left: 55px;
    padding-top: 20px;
}

.post-input-container textarea {
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
}

.pd-right ul {
    list-style: none;
}

.pd-right ul li {
    padding: 5px;
}

#show-addAutograph {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    color: #222;
    background: #c7c5c5e5;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

#show-exchange-dialog {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    color: #222;
    background: #c7c5c5e5;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}


/* css pentru popup formul de adaugare a unei poze */

.popup {
    position: absolute;
    top: -70%;
    left: 50%;
    opacity: 0;
    transform: translate(-70%, -50%) scale(1.25);
    width: 450px;
    padding: 20px 30px;
    background: #958bdf;
    box-shadow: 2px 2px 5px 5px rgba(205, 173, 173, 0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms, transform 200ms ease-in-out 0ms;
}

.popup.active {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms, transform 200ms ease-in-out 0ms;
}

.popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.row {
    display: flex;
}

.popup .form h2 {
    text-align: center;
    color: #222;
    margin: 16px 0px 20px;
    font-size: 25px;
}

.popup .form .form-element {
    margin: 15px 10px;
}

.popup .form .form-element label {
    font-size: 14px;
    color: #222;
}

.popup .form .form-element input[type="text"] {
    margin-top: 5px;
    display: blocks;
    width: 90%;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #aaa;
}

.popup .form .form-element button {
    width: 100%;
    height: 25px;
    border: none;
    outline: none;
    font-size: 15px;
    background: #222;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
}

.main-content {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 17%;
    margin-right: 10%;
}

@media only screen and (max-width: 800px) {
    /* For tablets: */
    .search-box {
        width: 200px;
    }
    .settings-menu {
        width: 100%;
        max-width: 180px;
        height: 100px;
    }
    /*.settings-menu-height {
        max-height: 10px;
    }*/
}

@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .logo {
        width: 40px;
    }
    .home {
        display: none;
    }
    .search-box {
        width: 40px;
        height: 20px;
    }
    .search-box img {
        width: 10px;
        height: 10px;
    }
    .nav-user-icon img {
        width: 30px;
    }
    .settings-menu {
        width: 100%;
        max-width: 130px;
        height: 60px;
    }
    .settings-menu button {
        font-size: 15px;
    }
    .logout-icon {
        display: none;
    }
    .settings-menu-height {
        max-height: 150px;
    }
    .seeAcount-icon {
        width: 25px;
        /* margin-right: 15px;*/
    }
    .logout-icon {
        width: 28px;
    }
    #show-addAutograph {
        font-size: 5px;
        padding: 5px 10px;
    }
    #show-exchange-dialog {
        font-size: 5px;
        padding: 5px 10px;
    }
    .pd-img {
        width: 30px;
    }
    .pd-row div h3 {
        font-size: 80%;
    }
    .pd-row div p {
        font-size: 2%;
    }
    .pd-right ul li {
        padding: 2px;
    }
}